@model ShoppingCartViewModel
<h3>Cart Info</h3>

<div class="row">
     <div class="col-md-6">
    <table border="1" cellpadding="2" cellspacing="2">

        <tr>

            <td>Action</td>

            <th>Id</th>

            

            <th>Photo</th>

            <th>Description</th>

            <th>Title</th>

            <th>Quantity</th>
            <th>Total</th>

        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td align="center">
                    <a asp-controller="cart" asp-action="remove" asp-route-id="@item.ProductId">Remove</a>
                </td>
                <td>@item.ProductId</td>
                <td><img src="@item.Product.ProductGalleries.First().Url" class="img-fluid" /></td>

                <td>@item.Product.Description</td>

                <td>@item.Product.Title</td>
                
                
                <td>@item.quantity</td>
                <td>@(item.Product.Price* item.quantity)</td>
            </tr>
        }
    </table>

    <br /> <br />
    <a asp-controller="product" asp-action="ProductsList">Continue Shopping</a>

</div>
</div>